.hiddeClass{
    display: none !important;
}


.css-jtrkzm {
    height: 100vh !important;
}

.content {
    height: 100% !important;
    overflow-y: scroll !important;
}

.textAreaStyle{
    height: 100%;
    width: 100%;
    font-family: Source Sans ProRoboto,sans-serif;
    font-weight: 400;
    font-size: 0.8571428571428571rem;
    line-height: 1.5;
    padding: 5px;
}

.textAreaStyle:focus-visible {
    outline: none !important;
}

.css-1xgjpwf-MuiGrid-root {
    flex-wrap: wrap !important;
}

.css-1emocca {
    flex-wrap: wrap !important;
    gap: 5px;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: 100% !important;
}

.circle {
    background-color: #9a9ea8;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.change-color {
    animation-name: change-color;
}
  
@keyframes change-color {
    from {
        background-color: #9a9ea8;
    }
    50% {
        background-color: #4f525c;
    }
    to {
        background-color: #9a9ea8;
    }
}