.hiddeClass{
    display: none !important;
}


.css-jtrkzm {
    height: 100vh !important;
}

.content {
    height: 100% !important;
    overflow-y: scroll !important;
}

.textAreaStyle{
    height: 100%;
    width: 100%;
    font-family: Source Sans ProRoboto,sans-serif;
    font-weight: 400;
    font-size: 0.8571428571428571rem;
    line-height: 1.5;
    padding: 5px;
}

.textAreaStyle:focus-visible {
    outline: none !important;
}

.css-1xgjpwf-MuiGrid-root {
    flex-wrap: wrap !important;
}

.css-1emocca {
    flex-wrap: wrap !important;
    gap: 5px;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: 100% !important;
}